/**
 * Tailwind
 */

// Dependencies
// This is where variables, mixins, or functions are imported that the
// pattern depends on. It's helpful to import dependencies into each
// pattern so that they can be exported individually and it's clear
// where the pattern is getting variables from. You can create a
// pattern specific SASS configuration in the /src/config directory, or
// add configuration to the /config/variables.js object (which is
// to SASS during the compilation process).
// @import 'config/variables';

// Declarations
// .tailwind { }

@import "tailwindcss/utilities";