/**
 * Color
 */

@import 'config/colors';

// Declarations

// @each $combo, $c in $combinations {
//   $selector: '.color-#{$combo}';
//   #{$selector} {
//     @include combination($selector, $c, $colors, map-get($c, 'font-smooth'));
//   }
// }

// Utility classes for applying milestone-specific coloring to elements
// Hover/focus styling is applied only to elements that are clickable (links and buttons)

// Baby
.bg-baby--primary {
  background-color: $color-baby-primary !important;
}

.border-baby--primary {
  border-color: $color-baby-primary !important;
}

.text-baby--primary {
  color: $color-baby-primary;
}

button.bg-baby--primary,
a.bg-baby--primary {
  transition: background-color 250ms linear;
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-baby-secondary !important;
    border-color: $color-baby-secondary !important;
    outline: none;
  }
}

button.bg-baby--primary,
a.bg-baby--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-baby-secondary !important;
    border-color: $color-baby-secondary !important;
    outline: none;
  }
}

/// Babe Secodary
.bg-baby--secondary {
  background-color: $color-baby-secondary !important;
  // border-color: $color-baby-secondary !important;
}

.border-baby--secondary {
  border-color: $color-baby-secondary !important;
}

.text-baby--secondary {
  color: $color-baby-secondary;
}

button.bg-baby--secondary,
a.bg-baby--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-baby-primary !important;
    border-color: $color-baby-primary !important;
    outline: none;
  }
}


.svg-baby {
  .stop1 {
    stop-color: $color-baby-secondary;
  }
  .stop2 {
    stop-color: $color-baby-primary;
  }
}

// Toddler ------
// Toddler Primary
.bg-toddler--primary {
  background-color: $color-toddler-primary !important;
}

.text-toddler--primary {
  color: $color-toddler-primary;
}

.border-toddler--primary {
  border-color: $color-toddler-primary !important;
}

button.bg-toddler--primary,
a.bg-toddler--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-toddler-secondary !important;
    border-color: $color-toddler-secondary !important;
    outline: none;
  }
}

button.bg-toddler--primary,
a.bg-toddler--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-toddler-secondary !important;
    border-color: $color-toddler-secondary !important;
    outline: none;
  }
}



// Toddler Secondary
.bg-toddler--secondary {
  background-color: $color-toddler-secondary !important;
}

.border-toddler--secondary {
  border-color: $color-toddler-secondary !important;
}

button.bg-toddler--secondary,
a.bg-toddler--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-toddler-primary !important;
    border-color: $color-toddler-primary !important;
    outline: none;
  }
}

// Toddler Tertiary
.bg-toddler--tertiary {
  background-color: $color-toddler-tertiary !important;
}

.text-toddler--tertiary {
  color: $color-toddler-tertiary;
}

.border-toddler--tertiary {
  border-color: $color-toddler-tertiary !important;
}


// Todler svg
.svg-toddler {
  .stop1 {
    stop-color: $color-toddler-secondary;
  }
  .stop2 {
    stop-color: $color-toddler-primary;
  }
}


// Pre Schooler ----
// Pre Schooler Primary
.bg-pre-schooler--primary {
  background-color: $color-pre-schooler-primary !important;
}

.border-pre-schooler--primary {
  border-color: $color-pre-schooler-primary !important;
}

.text-pre-schooler--primary {
  color: $color-pre-schooler-primary;
}

button.bg-pre-schooler--primary,
a.bg-pre-schooler--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-pre-schooler-secondary !important;
    border-color: $color-pre-schooler-secondary !important;
    outline: none;
  }
}

button.bg-pre-schooler--primary,
a.bg-pre-schooler--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-pre-schooler-secondary !important;
    border-color: $color-pre-schooler-secondary !important;
    outline: none;
  }
}

// Pre Schooler Secondary
button.bg-pre-schooler--secondary,
a.bg-pre-schooler--secondary {
  &:hover,
  &:focus,
  &.is-active {
    background-color: $color-pre-schooler-primary !important;
    border-color: $color-pre-schooler-primary !important;
    outline: none;
  }
}

.bg-pre-schooler--secondary {
  background-color: $color-pre-schooler-secondary !important;
}

.border-pre-schooler--secondary {
  border-color: $color-pre-schooler-secondary !important;
}

.text-pre-schooler--secondary {
  color: $color-pre-schooler-secondary;
}


// Preschooler Tertiary
.bg-pre-schooler--tertiary {
  background-color: $color-pre-schooler-tertiary !important;
}

.text-pre-schooler--tertiary {
  color: $color-pre-schooler-tertiary;
}

.border-pre-schooler--tertiary {
  border-color: $color-pre-schooler-tertiary !important;
}

// Pre Schooler Svg
.svg-pre-schooler {
  .stop1 {
    stop-color: $color-pre-schooler-secondary;
  }
  .stop2 {
    stop-color: $color-pre-schooler-primary;
  }
}


// Grade Schooler ----
// Grade Schooler Primary
.bg-grade-schooler--primary {
  background-color: $color-grade-schooler-primary !important;
}

.border-grade-schooler--primary {
  border-color: $color-grade-schooler-primary !important;
}

.text-grade-schooler--primary {
  color: $color-grade-schooler-primary;
}

button.bg-grade-schooler--primary,
a.bg-grade-schooler--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-grade-schooler-secondary !important;
    border-color: $color-grade-schooler-secondary !important;
    outline: none;
  }
}

button.bg-grade-schooler--primary,
a.bg-grade-schooler--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-grade-schooler-secondary !important;
    border-color: $color-grade-schooler-secondary !important;
    outline: none;
  }
}

// Grade Schooler Secondary
.bg-grade-schooler--secondary {
  background-color: $color-grade-schooler-secondary !important;
}

.border-grade-schooler--secondary {
  border-color: $color-grade-schooler-secondary !important;
}

.text-grade-schooler--secondary {
  color: $color-grade-schooler-secondary;
}

button.bg-grade-schooler--secondary,
a.bg-grade-schooler--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-grade-schooler-primary !important;
    border-color: $color-grade-schooler-primary !important;
    outline: none;
  }
}

// Grade Schooler Tertiary
.bg-grade-schooler--tertiary {
  background-color: $color-grade-schooler-tertiary !important;
}

.border-grade-schooler--tertiary {
  border-color: $color-grade-schooler-tertiary !important;
}

.text-grade-schooler--tertiary {
  color: $color-grade-schooler-tertiary;
}

// Grade Schooler svg
.svg-grade-schooler {
  .stop1 {
    stop-color: $color-grade-schooler-secondary;
  }
  .stop2 {
    stop-color: $color-grade-schooler-primary;
  }
}

// Pre Teen
// Pre Teen Primary
.bg-pre-teen--primary {
  background-color: $color-pre-teen-primary !important;
}

.border-pre-teen--primary {
  border-color: $color-pre-teen-primary !important;
}

.text-pre-teen--primary {
  color: $color-pre-teen-primary;
}

button.bg-pre-teen--primary,
a.bg-pre-teen--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-pre-teen-secondary !important;
    border-color: $color-pre-teen-secondary !important;
    outline: none;
  }
}

button.bg-pre-teen--primary,
a.bg-pre-teen--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-pre-teen-secondary !important;
    border-color: $color-pre-teen-secondary !important;
    outline: none;
  }
}

// Pre Teen Secondary
.bg-pre-teen--secondary {
  background-color: $color-pre-teen-secondary !important;
  // border-color: $color-pre-teen-secondary !important;
}

.border-pre-teen--secondary {
  border-color: $color-pre-teen-secondary !important;
}

.text-pre-teen--secondary {
  color: $color-pre-teen-secondary;
}

button.bg-pre-teen--secondary,
a.bg-pre-teen--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-pre-teen-primary !important;
    border-color: $color-pre-teen-primary !important;
    outline: none;
  }
}

// Pre teen svg
.svg-pre-teen {
  .stop1 {
    stop-color: $color-pre-teen-secondary;
  }
  .stop2 {
    stop-color: $color-pre-teen-primary;
  }
}


// Teen
// Teen Primary
.bg-teen--primary {
  background-color: $color-teen-primary !important;
}

.border-teen--primary {
  border-color: $color-teen-primary !important;
}

.text-teen--primary {
  color: $color-teen-primary;
}

button.bg-teen--primary,
a.bg-teen--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-teen-secondary !important;
    border-color: $color-teen-secondary !important;
    outline: none;
  }
}

button.bg-teen--primary,
a.bg-teen--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-teen-secondary !important;
    border-color: $color-teen-secondary !important;
    outline: none;
  }
}

// Teen Secondary
.bg-teen--secondary {
  background-color: $color-teen-secondary !important;
  // border-color: $color-teen-secondary !important;
}

.border-teen--secondary {
  border-color: $color-teen-secondary !important;
}

.text-teen--secondary {
  color: $color-teen-secondary;
}

button.bg-teen--secondary,
a.bg-teen--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-teen-primary !important;
    border-color: $color-teen-primary !important;
    outline: none;
  }
}

// Teen svg
.svg-teen {
  .stop1 {
    stop-color: $color-teen-secondary;
  }
  .stop2 {
    stop-color: $color-teen-primary;
  }
}


// Young Adult
// Young Adult Primary
.bg-young-adult--primary {
  background-color: $color-young-adult-primary !important;
}

.text-young-adult--primary {
  color: $color-young-adult-primary;
}

.border-young-adult--primary {
  border-color: $color-young-adult-primary;
}

button.bg-young-adult--primary,
a.bg-young-adult--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-young-adult-secondary !important;
    border-color: $color-young-adult-secondary !important;
    outline: none;
  }
}

button.bg-young-adult--primary,
a.bg-young-adult--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-young-adult-secondary !important;
    border-color: $color-young-adult-secondary !important;
    outline: none;
  }
}

// Young adult seconda
.bg-young-adult--secondary {
  background-color: $color-young-adult-secondary !important;
  // border-color: $color-young-adult-secondary !important;
}

.text-young-adult--secondary {
  color: $color-young-adult-secondary;
}

.border-young-adult--secondary {
  border-color: $color-young-adult-secondary;
}


button.bg-young-adult--secondary,
a.bg-young-adult--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-young-adult-primary !important;
    border-color: $color-young-adult-primary !important;
    outline: none;
  }
}

// Young Adult svg
.svg-young-adult {
  .stop1 {
    stop-color: $color-young-adult-secondary;
  }
  .stop2 {
    stop-color: $color-young-adult-primary;
  }
}


// Primary
.bg--primary {
  background-color: $color-primary !important;
}

.text--primary {
  color: $color-primary;
}

.border--primary {
  border-color: $color-primary;
}

// Primary
.bg--secondary {
  background-color: $color-secondary !important;
}

.text--secondary {
  color: $color-secondary;
}

.border--secondary {
  border-color: $color-secondary;
}

// Brain Building
.bg-color-brain-building-tip,
.hover\:bg-color-brain-building-tip:hover {
  background-color: $color-secondary;
}