/**
 * Hero
 * Traditional, top-of-the-page hero
 */

@import 'config/tokens';
@import 'config/dimensions';
@import 'config/stickers';
@import 'config/fonts';
@import 'scss/functions/rem-calc';
@import 'scss/functions/font-size';
@import 'scss/functions/strip-unit';

// Declarations
.c-hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $color-text-invert;
  overflow: hidden;
  // padding: percentage(94/375) 0 rem-calc(33);
  padding-bottom: rem-calc(15);
  position: relative;
  text-align: center;

  // @include grid-media($bp-medium) {
  //   background-size: cover;
  //   text-align: left;
  //   padding: rem-calc(92 40 80);
  // }
	@media screen and (min-width: $screen-tablet) {
    background-size: cover;
    text-align: left;
    padding: rem-calc(92 40 80);
  }

	@media screen and (max-width: $screen-mobile) {
      background-size: cover;
  }
}

.c-hero--light {
  color: $color-text;
  text-align: left;
  padding: percentage(57/375) 0 rem-calc(65);

  // @include grid-media($bp-medium) {
  //   padding: rem-calc(100 ($outer-gutter-medium - $outer-gutter-small) 36);
  // }

	@media screen and (min-width: $screen-tablet) {
    padding: rem-calc(100 ($outer-gutter-medium - $outer-gutter-small) 36);
  }

  // @include grid-media($bp-large) {
  //   padding: rem-calc(100 0 36);
  // }

	@media screen and (min-width: $screen-desktop) {
    padding: rem-calc(100 0 36);
  }
}

.c-hero {
  // @include grid-media($bp-xlarge) {
  //   padding: rem-calc(113 80 60);
  // }

	@media screen and (min-width: $screen-desktop-large) {
    padding: rem-calc(113 80 60);
  }
}


.c-hero--light {
  padding: rem-calc(50 0 60);

	@media screen and (min-width: $screen-tablet) {
    padding: rem-calc(113 0 60);
  }
}

.c-hero--large {
  padding: percentage(126/375) 0 rem-calc(65);

  // @include grid-media($bp-medium) {
  //   padding: rem-calc(165 40 80);
  // }
	@media screen and (min-width: $screen-tablet) {
    padding: rem-calc(165 40 80);
  }

  // @include grid-media($bp-xlarge) {
  //   padding: rem-calc(227 80 80);
  // }
	@media screen and (min-width: $screen-desktop-large) {
    padding: rem-calc(227 80 80);
  }
}

.c-hero--long-text {
  text-align: left;
}

// Hero Background Variations
.c-hero--bg-primary {
  background: $color-primary;
}

.c-hero--bg-secondary {
  background-color: $color-secondary;
}

// Hero Title
//
// .c-hero__title--long - Variation for longer titles. Matches h1 styling
//
.c-hero__title {
  @include font-size-xxx-large;
  line-height: 1;
  padding-top: rem-calc(($sticker-size-mobile / 2) + 3);
  // text-transform: uppercase;
  // Set z-index for text to appear on top of bg image
  z-index: 1;
}

.c-hero__title,
.c-hero__title--long {
  position: relative;
  padding-top: rem-calc(($sticker-size-mobile / 2) + 3);

  // @include grid-media($bp-medium) {
  //   padding-top: 0;
  // }
	@media screen and (min-width: $screen-tablet) {
    padding-top: 0;
  }
}

.flexbox .c-hero__title,
.flexbox .c-hero__title--long {
  // @include grid-media($bp-medium) {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   align-items: center;
  // }
	@media screen and (min-width: $screen-tablet) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

// Hero Sticker
.c-hero__sticker {
  background-color: $color-secondary;
  box-shadow: 0 2px 4px 0 $color-shadow;
  display: inline-block;
  top: rem-calc($sticker-size-mobile / -2);
  position: absolute;

		@if ($language == 'ar') or ($language == 'ur') {
  		right: 0;
    } @else {
  		left: 0;
		}
  // @include grid-media($bp-medium) {
  //   box-shadow: none;
  //   height: rem-calc(65);
  //   line-height: rem-calc(65);
  //   margin-right: rem-calc(20);
  //   position: static;
  //   width: rem-calc(65);
  // }
	@media screen and (min-width: $screen-tablet) {
    box-shadow: none;
    height: rem-calc(65);
    line-height: rem-calc(65);
    position: static;
    width: rem-calc(65);

		@if ($language == 'ar') or ($language == 'ur') {
    	margin-left: rem-calc(20);
    } @else {
    margin-right: rem-calc(20);
		}
  }
}

.flexbox .c-hero__sticker {
  // @include grid-media($bp-medium) {
  //   flex-shrink: 0;
  // }
	@media screen and (min-width: $screen-tablet) {
    flex-shrink: 0;
  }
}

// Hero Tagline
.c-hero__tagline {
  // font-family: $font-family-display;
  // font-size: rem-calc($font-size-xx-large * $font-size-ratio);
  // font-weight: $font-weight-extrablack;
  line-height: 1.2;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(15);
  position: relative;
  z-index: 1; // Set z-index for text to appear on top of bg image

  // @include grid-media($bp-medium) {
  //   font-size: rem-calc($font-size-xx-large);
  // }
	@media screen and (min-width: $screen-tablet) {
    font-size: rem-calc($font-size-x-large);
  }

  // @include grid-media($bp-large) {
    // // @include span-columns(6);
    // // @include grid-column(6);
    // // @include omega;
    // margin-right: 0;
  // }
	@media screen and (min-width: $screen-desktop) {
    // @include span-columns(6);
    // @include grid-column(6);
    // @include omega;
    margin-right: 0;
  }
}

.c-hero--long-text .c-hero__tagline {
  font-size: rem-calc($font-size-large * $font-size-ratio);
  line-height: 1.3;
  margin-top: 0;

  + .c-hero__tagline {
    margin-top: rem-calc(15);
  }

  // @include grid-media($bp-medium) {
  //   font-size: rem-calc($font-size-large);
  // }
	@media screen and (min-width: $screen-tablet) {
    // padding: rem-calc(113 80 60);
  }

  // @include grid-media($bp-large) {
  //   // @include grid-column(9);
  //   // @include omega;
  //   margin-right:0;
  // }
	@media screen and (min-width: $screen-desktop) {
    // @include grid-column(9);
    // @include omega;
    margin-right:0;
  }
}

// Hero Frill
//
// Decorative element (i.e. a paint splatter) added to the hero
.c-hero__frill {
  height: auto;
  position: absolute;
  top: percentage(60/375);
  // right: percentage(-50/375);
  width: percentage(140/375);

		@if ($language == 'ar') or ($language == 'ur') {
		  left: percentage(-114/1440);
			transform: scaleX(-1);
    } @else {
    	right: percentage(-114/1440);
		}
  // @include grid-media($bp-medium) {
  //   bottom: percentage(-87/480);
  //   top: auto;
  //   right: percentage(-114/1440);
  //   width: percentage(404/1440);
  // }
	@media screen and (min-width: $screen-tablet) {
    bottom: percentage(-87/480);
    top: auto;
    width: percentage(404/1440);

  }


  // @include grid-media($bp-xlarge) {
  //   bottom: -87px;
  //   right: -114px;
  //   width: 404px;
  // }
	@media screen and (min-width: $screen-desktop-large) {
    bottom: -87px;
    width: 404px;

		@if ($language == 'ar') or ($language == 'ur') {
    	left: -114px;
		  left: percentage(-114/1440);
			transform: scaleX(-1);
    } @else {
    	right: -114px;
    	right: percentage(-114/1440);
		}
  }
}

// Hero Full BG
//
// Full background overlay added to the hero
.c-hero__full-bg {
  height: 100%;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
}

// Hero Label
.c-hero__label {
  display: block;
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  @include font-size(21,24);
  margin-bottom: rem-calc(15);
  text-align: center;
}

// Hero Search
.c-hero__search {
  padding-top: rem-calc(($sticker-size-mobile / 2) + 3);

  // @include grid-media($bp-medium) {
  //   padding-top: 0;
  // }
	@media screen and (min-width: $screen-tablet) {
    padding-top: 0;
  }
}