/**
 * Language-switcher
 */

// Dependencies
@import 'scss/functions/rem-calc';

// Declarations

.c-language__switcher {
  text-align: right;
  z-index: 1;
  display: flex;
  justify-content: flex-end;

  @if ($language == 'ar') or ($language == 'ur') {
      text-align: left;
    }

  a {
    // @extend .font-sans--secondary;

  }


}
.wpml-ls-legacy-list-horizontal {
  padding: 7px 0 0;

  .wpml-ls-item-button {

        .title-tag {
          padding-top: 0;

          &:before {
            content: "";
            -webkit-mask: url("https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/svg/icon-translate.svg")  no-repeat 50% 50%;
            mask: url("https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/svg/icon-translate.svg")  no-repeat 50% 50%;
            // mask: url("../svg/icon-translate.svg")  no-repeat 50% 50%;
            // content: url('../svg/icon-translate.svg');
            display: inline-block;
            height: 15px;
            width: 22px;
            margin-bottom: -3px;
            background-color: $color-gray;
            // margin-right: rem-calc(3);
            // display: inline-block;
            // width: 10px;
            @if ($language == 'ar') or ($language == 'ur') {
              width: 30px;
            } @else {
              width: 22px;
            }
          }
          &:hover:before {
            background-color: $color-primary;
          }
        }

  }

  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: rem-calc(5);
    &:last-child {
      margin-right: 0;
      a {
        padding-right: 0;
      }
    }
    a {
      font-size: rem-calc(11);
      color: $color-gray;
      padding: 5px 8px;
      text-decoration: none;
      &:hover {
        color: $color-primary;
      }
    }

    &.wpml-ls-current-language {
      // @extend %fa-icon;
      // @extend .fas;

      a {
        color: $color-primary;
        &:before {
          content: "";
          // content: url("https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/svg/icon-check.svg");
          // content: url('../svg/icon-check.svg');
          -webkit-mask: url(https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/svg/icon-check.svg) no-repeat 50% 50%;
          mask: url(https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/svg/icon-check.svg) no-repeat 50% 50%;
          // content: fa-content($fa-var-check);
          // font-family: 'Font Awesome 5 Free';
          // font-weight: 900;
          // font-style: normal;
          // position: relative;
          // top: rem-calc(2);
          // margin-right: rem-calc(3);
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: $color-primary;
          position: relative;
          top: .125rem;

          @if ($language == 'ar') or ($language == 'ur') {
            margin-left: .1875rem;
          } @else {
            margin-right: .1875rem;
          }
        }

        // &:hover:before {
        // }
      }
    }
  }
}

@media screen and (max-width: $screen-tablet) {
  .mobile-languages-switcher {
        position: fixed;
        bottom: 0;
        background-color: white;
        height: 50%;
        width: 100%;
        overflow: scroll;
        z-index: 99;

    .o-container {
      padding: 0;
    }

    .wpml-ls-item {
      // display: block;
      display: block;
      border-bottom: 0.5px solid;
      padding: 1rem 0;
      margin: 0;
    }
      .o-container {
          .wpml-ls-legacy-list-horizontal {
            width: 100%;
            padding: 0 1rem;

            .pick-a-language {
              font-size: .6875rem;
              color: #999;
              text-decoration: none;
            }
            ul {

              li {

                &:first-child {
                  border: none;
                  width: 50%;
                  display: inline-block;
                  text-align: left;
                }
                &:nth-child(2) {
                  border: none;
                  width: 50%;
                  display: inline-block;
                  text-align: right;

                  a {
                  text-align: right;

                  }
                }
                // &:nth-child(14) {
                //   border: none;

                // }


                a {
                  padding: 0;
                  text-align: left;
                }
              }
            }

            .ls-close-link {
                    &:before {
                  content: "";
                  -webkit-mask: url("https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/svg/icon-close.svg")  no-repeat 50% 50%;
                  mask: url("https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/svg/icon-close.svg")  no-repeat 50% 50%;
                  // mask: url("../svg/icon-translate.svg")  no-repeat 50% 50%;
                  // content: url('../svg/icon-translate.svg');
                  display: inline-block;
                  height: 25px;
                  width: 32px;
                  margin-bottom: -3px;
                  background-color: $color-gray;
                  // margin-right: rem-calc(3);
                  // display: inline-block;
                  // width: 10px;
                  @if ($language == 'ar') or ($language == 'ur') {
                    width: 30px;
                  } @else {
                    width: 22px;
                  }
                }
                &:hover:before {
                  background-color: $color-primary;
                }
              }
            .wpml-ls-item-ht {
              border: none;

            }
          }

      }
    }
}


