/**
 * Layouts
 */

// Dependencies
// This is where variables, mixins, or functions are imported that the
// pattern depends on. It's helpful to import dependencies into each
// pattern so that they can be exported individually and it's clear
// where the pattern is getting variables from. You can create a
// pattern specific SASS configuration in the /src/config directory, or
// add configuration to the /config/variables.js object (which is
// to SASS during the compilation process).
@import 'config/variables';
@import 'config/layouts';

// Declarations
// .layouts { }

// Rows and Columns
//
// Not to be confused with the general grid layout patterns, which use Neat
// and can be placed in _layout.scss. This covers layout objects where items are
// top-aligned in a block grid, i.e. on the search overlay

// Common column layout
%column-base {
  display: inline-block;
  padding: rem-calc(8 20);
  vertical-align: top;
  width: 100%;
}

%column-base-2 {
  @extend %column-base;
  padding-bottom: rem-calc(24);

  @include grid-media($bp-medium) {
    margin-right: rem-calc(-4);
    padding: rem-calc(20);
    width: 50%;
  }
}

%column-base-3 {
  @extend %column-base-2;

  @include grid-media($bp-medium) {
    width: (100% / 3);
  }
}

// Column Row
.layout--row {
  margin-left: rem-calc(-20);
  margin-right: rem-calc(-20);
}

// 1 Column
.layout--one-column {
  @extend %column-base;
}

// 2 Columns
.layout--two-columns {
  @extend %column-base-2;
}

// 3 Columns
.layout--three-columns {
  @extend %column-base-3;
}
