/**
 * Accordion
 */

// Dependencies
// This is where variables, mixins, or functions are imported that the
// pattern depends on. It's helpful to import dependencies into each
// pattern so that they can be exported individually and it's clear
// where the pattern is getting variables from. You can create a
// pattern specific SASS configuration in the /src/config directory, or
// add configuration to the /config/variables.js object (which is
// to SASS during the compilation process).
// @import 'config/variables';
@import 'scss/functions/rem-calc';

// Declarations
// .o-accordion { }

// Accordion
//
// Layout object for accordion content.
.o-accordion__header {
  position: relative;
}

// Accordion panel
.o-accordion__content {
  display: block;
  overflow: hidden;
  transition: height .5s ease-in-out;
}

.hidden .o-accordion__content {
  height: 0;
  transition: height .3s ease-in-out;
}

// Accordion caret
.o-accordion__caret {
  height: rem-calc(22);
  top: 10%;
  margin-top: rem-calc(-11);
  position: absolute;
  right: rem-calc(14);
  width: rem-calc(22);

	// @include grid-media($bp-large) {
  //     top: 13%;
  // }
	@media screen and (min-width: $screen-desktop) {
      top: 13%;
	  }
}

.active .o-accordion__caret {
  transform: rotate(180deg);
	top: 50%;
}

