//
// Variables
//

// Dependencies
@import 'config/variables';

// Declarations
$dimensions: map-get($variables, 'dimensions');
$outer-gutter: map-get($dimensions, 'outer-gutter');
$outer-gutter-medium: map-get($dimensions, 'outer-gutter-medium');
$outer-gutter-small: map-get($dimensions, 'outer-gutter-small');
$horizontal-gutter: map-get($dimensions, 'horizontal-gutter');
