//
// tokens
//

// Dependencies
@import 'config/tokens';

// Declarations

$fonts: map-get($tokens, 'fonts');
$font-sizes: map-get($tokens, 'font-sizes');
$font-weights: map-get($tokens, 'font-weights');
$font-size-ratio: map-get($font-sizes, 'font-size-ratio');

$font-size-xx-small: map-get($font-sizes, 'font-size-xx-small');
$font-size-x-small: map-get($font-sizes, 'font-size-x-small');
$font-size-small: map-get($font-sizes, 'font-size-small');
$font-size-regular: map-get($font-sizes, 'font-size-regular');
$font-size-large: map-get($font-sizes, 'font-size-large');
$font-size-x-large: map-get($font-sizes, 'font-size-x-large');
$font-size-xx-large: map-get($font-sizes, 'font-size-xx-large');
$font-size-xxx-large-mobile: map-get($font-sizes, 'font-size-xxx-large-mobile');
$font-size-xxx-large: map-get($font-sizes, 'font-size-xxx-large');

$font-family-text: map-get($fonts, 'text-sans');
$font-family-display: map-get($fonts, 'display-sans');

$font-weight-medium: map-get($font-weights, 'medium');
$font-weight-semibold: map-get($font-weights, 'semibold');
$font-weight-extrablack: map-get($font-weights, 'extrablack');