//
// Variables
//

// Dependencies
@import 'config/media';

// Declarations
// $var

$outer-gutter: map-get(map-get($variables, 'dimensions'), 'outer-gutter');
$outer-gutter-small: map-get(map-get($variables, 'dimensions'), 'outer-gutter-small');
$outer-gutter-large: map-get(map-get($variables, 'dimensions'), 'outer-gutter-large');


@mixin layout-inner-left-edge {
  left: $outer-gutter;

  @include grid-media($bp-small) {
    left: $outer-gutter-small;
  }

  @include grid-media($bp-large) {
    left: $outer-gutter-large;
  }
}