//
// tokens
//

// Dependencies
@import 'config/tokens';

// Declarations
$stickers: map-get($tokens, 'stickers');
$sticker-size-mobile: map-get($stickers, 'sticker-size-mobile');
$sticker-size: map-get($stickers, 'sticker-size');
