/**
 * Typography
 */

// Dependencies
// This is where tokens, mixins, or functions are imported that the
// pattern depends on. It's helpful to import dependencies into each
// pattern so that they can be exported individually and it's clear
// where the pattern is getting tokens from. You can create a
// pattern specific SASS configuration in the /src/config directory, or
// add configuration to the /config/tokens.js object (which is
// to SASS during the compilation process).
@import 'config/tokens';
@import 'config/typography';
@import 'config/fonts';
@import 'config/colors';

// Declarations

$sizes: map-get($tokens, 'text-sizes');
// $leading: map-get($tokens, 'leading');

html {
  font-size: 100%;
}

body {
  color: map-get($colors, map-get($colors-default, 'color-text'));
  font-family: $font-family-text;
  @include font-size-regular;
}

.wf-active body {
  font-weight: $font-weight-semibold;
}

h1, .h1, .type-h1,
h2, .h2, .type-h2,
h3, .h3, .type-h3,
h4, .h4, .type-h4,
h5, .h5, .type-h5,
h6, .h6, .type-h6 {
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
}

h2, .h2, .type-h2,
h3, .h3, .type-h3,
h4, .h4, .type-h4,
h5, .h5, .type-h5,
h6, .h6, .type-h6 {
  line-height: 1.3;
}

h1, .h1, .type-h1 {
  @include font-size-xxx-large;
  line-height: 1.1;
}

h2, .h2, .type-h2 {
  @include font-size-xx-large;
  margin: rem-calc(0 0 20);
}

h3, .h3, .type-h3 {
  @include font-size-large;
  margin: rem-calc(0 0 15);
}

a {
  color: $color-primary;
  text-decoration: underline;

  &:focus {
    color: $color-secondary;
  }

  .no-touchevents & {
    &:hover {
      color: $color-secondary;
    }
  }

}

a[href^="tel:"] {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

p + p {
  margin-top: 1em;
}

// Styling for no results text
.type--no-results {
  font-family: $font-family-display;
  @include font-size-x-large;
  font-weight: $font-weight-extrablack;
  line-height: 1.3;
  text-align: center;
}
