// @charset 'utf-8';

/***********************
 * Asset Paths and CDN
 ***********************/

// This is the path to your asset folders. Uncomment and set to override the
// default. By default, it is set to look for assets one director up from the
// distributed.
// stylesheet '../' ex;
// $cdn: 'path/to/assets/';

// The CDN can be set to another local path, or, it can be set to the 'cdn'
// within the $variables map. This default uses jsDelivr to pull the assets
// from the patterns GitHub repository and the tag of the installed version.
// ex;
// @import 'config/variables';
// $cdn: map-get($variables, 'cdn');

// These are the default paths to the different asset types within the asset
// folder. Uncomment and set to override their defaults.
// $path-to-fonts: 'fonts/';
// $path-to-images: 'images/';
// $path-to-svg: 'svg/';

/*********
 * Fonts
 *********/

// If @font-face is used it needs to be imported before all other declarations.

// @import 'elements/fonts/fonts';

/************************
 * External Dependencies
 ************************/

// Any external dependency can be included here. It may also make sense to
// include it within specific component and object styles if it is a dependency.
// Be sure to add 'node_modules' to your include paths if you are using npm to
// manage dependencies (recommended). Dependency examples include Bootstrap,
// Material Components Web, etc.

@import 'config/tokens';

/**********
* Elements
***********/

// Elements include universal styles, atomic patterns, and css systems. Examples
// include classes that assign color, modify the display of elements, or set up
// scaffolding like typography or grid systems. Uitilities will have their own
// namespace prefixes based on their attributes.

@import 'elements/base/base';
@import 'elements/button/button';
@import 'elements/checkbox/checkbox';
@import 'elements/divider/divider';
@import 'elements/input/input';
@import 'elements/icons/icons';
@import 'elements/layouts/layouts';
@import 'elements/lists/lists';
@import 'elements/sticker/sticker';
@import 'elements/table/table';
@import 'elements/spinner/spinner';

// elements - end

/*************
* Components
*************/

// Components are elements that require isolated styling. Examples include
// buttons, textfields, select boxes, grouped navigation, dropdowns, etc. They
// may include utilities within them. Not all components are required for each
// application. Component namespaces are prefixed with 'c-'.

@import 'components/arrow-pager/arrow-pager';
@import 'components/block-list/block-list';
@import 'components/card/card';
@import 'components/details-list/details-list';
@import 'components/footer/footer';
@import 'components/form/form';
@import 'components/hero/hero';
@import 'components/language-switcher/language-switcher';
@import 'components/list-box/list-box';
@import 'components/side-navigation/side-navigation';
@import 'components/side-hero/side-hero';
@import 'components/tout/tout';
@import 'components/tip/tip';
@import 'components/tip-card/tip-card';
@import 'components/share/share';
@import 'components/age-guide-card/age-guide-card';
// components - end

/**********
 * Objects	az
 **********/

// Objects are elements with more robust styling requirements. They may include
// Components and utilities within them. Examples include headers, footers,
// modals, sliders, and charts. Not all Objects are required for each
// application and some will require their own Objects. Object namespaces are
// prefixed with 'o-'.

@import 'objects/accordion/accordion';
@import 'objects/alert-banner/alert-banner';
@import 'objects/article/article';
@import 'objects/container/container';
@import 'objects/content/content';
@import 'objects/feature-photo/feature-photo';
@import 'objects/flex-embed/flex-embed';
@import 'objects/inline-list/inline-list';
@import 'objects/overlay/overlay';
@import 'objects/navigation/navigation';
@import 'objects/static-column/static-column';
@import 'objects/content/content';

// objects - end

/************
 * Utilities
 ************/

@import 'utilities/accessibility/accessibility';
@import 'utilities/animations/animations';
@import 'utilities/color/color';
@import 'utilities/font/font';
@import 'utilities/typography/typography';
@import 'utilities/offcanvas/offcanvas';
@import 'utilities/background-image/background-image';
// @import 'utilities/spacing/spacing';
@import 'utilities/sticky/sticky';
@import 'utilities/tailwind/tailwind';
@import 'utilities/form-effects/form-effects';
@import 'utilities/spacing/spacing';

// utilities - end
// @import 'config/grid-system';



// pattern layout
// @import 'view/layouts/layout';